html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  max-width: 100%;
  height: auto;
}