html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Disable scrolling on all devices */
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  max-width: 100%;
  height: auto;
  touch-action: none;
}